header {
    width: 90rem;
    height: 4.0625rem;
    position: fixed;
    margin-top: -0.5625rem;
    background-color: #1f2937;
    z-index: 1;
}


.logo {
    height: 100%;
    width: 12.5rem;
    justify-content: flex-start;
    margin-left: 10rem;
}

#links a {
    margin-left: 1.75rem;
    color: white;
    text-decoration: none;
    border-bottom: solid;
    padding-bottom: 3px;
}

#links a:hover {
    color: #CAA945;
    transition: color 250ms ease-in-out;
}

#third {
    margin-right: 13.0625rem;
}