.hero {
    width: 90rem;
    height: 29.5625rem;
    transition: ease all .2s;
    aspect-ratio: 1 / 1;
}

.hero-content {
    width: 41.2rem;
    height: 29.5625rem;
    margin-top: 7.25rem;
}

.overlay {
    display: none;
    margin-top: -530px;
    margin-left: -140px;
    left: 20%;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    color: white;
    background: linear-gradient(#1f2937, 80%, transparent);
}

.overlay-menu {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: -250px;
    margin-left: 200px;
    height: 350px;
    width: 300px;
    background-color: #1f2937;

}

.overlay-menu a{
    display: flex;
    justify-content: center;
    text-align: center;
    left: 25%;
    margin-top: 50px;
    color: white;
}

.overlay-menu a:first-child {
    margin-top: 90px;
}

.overlay-menu a:hover {
    color: #CAA945;
    transition: color 250ms ease-in-out;
}

.hero-content2 {
    display: block;
    width: 45.8rem;
    height: 29.5625rem;
    justify-content: center;
    margin-top: 145px;
}

.b-card {
    margin-left: 22%;
    width: 311px;
    height: 170px;
}

.b-card2 {
    margin-left: 22%;
    margin-top: 20px;
    width: 311px;
    height: 170px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.9375rem;
    font-size: 48px;
    font-weight: bolder;
    color: #CAA945;
    transition: ease all .2s;
}

.subtext {
    display: flex;
    justify-content: center;
    margin-left: 11.5rem;
    margin-bottom: 1.125rem;
    color: #f9faf8;
}

.subscribe {
    width: 8.25rem;
    height: 2.375rem;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    border: none;
    color: black;
    background: linear-gradient(45deg, #816C25, #D7BE69);
    transition: opacity 200ms ease-in-out;
    
}

.subscribe:hover {
    /*color: rgb(85, 83, 83);
    background: #3c414a;*/
    opacity: 0.5;
}

@media all and (max-width: 1360px) {
    .hero{
        width: 87rem;
    }
}

@media all and (max-width: 1300px) {
    .hero{
        width: 86rem;
    }
}

@media all and (max-width: 1260px) {
    .hero {
        width: 84rem;
    }
}

@media all and (max-width: 1200px) {
    .hero{
        width: 82rem;
    }
}

@media all and (max-width: 1167px) {
    .hero{
        width: 80rem;
    }
    .subtext{
        margin-left: 9.6rem;
    }
}

@media all and (max-width: 1150px) {
    .hero{
        width: 74rem;
    }
    .subtext{
        margin-left: 8.6rem;
    }
}


@media all and (max-width: 1115px) {
    .hero{
        width: 70rem;
    }
    .subtext{
        margin-left: 7.6rem;
    }
}

@media all and (max-width: 1090px) {
    .hero{
        width: 68rem;
    }
    .subtext{
        margin-left: 6.6rem;
    }
}

@media all and (max-width: 1040px) {
    .hero{
        width: 63rem;
    }
    .subtext{
        margin-left: 5.6rem;
    }
}

@media all and (max-width: 1000px) {
    .hero{
        width: 58rem;
    }
    .subtext{
        margin-left: 4.6rem;
    }
}

@media all and (max-width: 970px) {
    .hero{
        width: 56rem;
    }
    .subtext{
        margin-left: 4.6rem;
    }
}

@media all and (max-width: 940px) {
    .hero{
        width: 53rem;
    }
    .subtext{
        margin-left: 3.6rem;
    }
}

@media all and (max-width: 890px) {
    .hero{
        width: 45rem;
    }
    h1{
        font-size: 40px;
    }
}

@media all and (max-width: 800px) {
    .hero{
        width: 36rem;
    }
    .subtext{
        margin-left: 1.8rem;
        font-size: 14px;
    }
    h1{
        font-size: 36px;
        margin-left: 0.8rem;
    }
    .b-card, .b-card2{
        width: 265px;
        height: 145px;
    }
}

@media all and (max-width: 700px) {
    .hero-content , .subtext{
        display: block;
        text-align: center;
        margin-left: 6%;

    }
    .hero{
        width: 1200px;
    }
    .subscribe{
        margin-left: 40.5%;
    }
}
@media all and (max-width: 650px) {
    .hero-content , .subtext{
        display: block;
        text-align: center;
        margin-left: 5%;

    }
    .hero{
        width: 1000px;
    }
    .subscribe{
        margin-left: 39.5%;
    }
}
@media all and (max-width: 550px) {
    .hero-content , .subtext{
        display: block;
        text-align: center;
        margin-left: 5%;

    }
    .hero{
        width: 800px;
    }
    .subscribe{
        margin-left: 36.5%;
    }
}
@media all and (max-width: 422px) {
    .hero-content , .subtext{
        display: block;
        text-align: center;
        margin-left: 6%;
        font-size: 12px;

    }
    .hero{
        width: 600px;
    }
    h1{
        font-size: 36px;
    }
    .subscribe{
        margin-left: 29.5%;
        font-size: 14px;
    }
}